<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coyote Song</title>
	<meta http–equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http–equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;700&display=swap" rel="stylesheet"> 
</head>

<body style="width: 100%; text-align: center; background-color: #fffbe3; color: #1A1A1A; font-family: 'Josefin Slab', Helvetica, serif;">
	
	<table width="700" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto; padding: 0; 700px; background-color: #ffffff; border: 1px solid #9b9b9b; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
		<thead>
			<tr>
				<th>
					<img src="http://shari.vistaglow.com/img/coyotesong/logo_white_background.jpg" alt="Coyote Song" title="Coyote Song" width="700px">
				</th>
			</tr>
			<tr>
				<td>
					<div style="background-color: #525252; min-height: 50px; color: #ffffff; background: rgb(82,82,82);
background: linear-gradient(0deg, rgba(82,82,82,1) 0%, rgba(148,148,148,1) 100%); "></div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			
				<div style=" background-color: #ffffff;">
					
					<div>
						<p style="color: #1A1A1A;">The email content goes here.</p>
					</div>
					
					
				</div>
			
			</tr>
		</tbody>
		<tfoot style="background-color: #525252; min-height: 200px; color: #ffffff;">
			<tr>
				<td>
					<div style="padding: 10px 50px;">
						<p>When we remember that we are of this land, we can remember the many ancestral shoulders on which we stand and know that we belong here in this web of life.</p>
					</div>
					
				</td>
			</tr>
			<tr>
				<td>
					<p>Copyright CoyoteSong.org 2021</p>
				</td>
			</tr>
		</tfoot>
	</table>
	
</body>
</html>
